*{
			padding: 0;
			margin: 0;
		}
		body{
			font-family: 'Notable', sans-serif;
			background:  #eeff00;
		}
		header{
			height: 50px;
			background: black;
			text-align: center;
			color: white;
		}
		canvas{
			background: #eee;
			display: block;
			margin: 40px;
			float: left;
		}
		ol{
			margin-left:35px;
		}
		dialog{
			margin: auto;
      		border-radius: 5px; 
      		border: 2px solid white;
      		box-shadow: 0 0 10px rgba(0,0,0,0.5);
      		width: 450px;
      		height: 200px;
      		background: black;
      		color: white;
      		text-align: center;
    	}
    	dialog form{
    		margin-top: 50px;
			/*position: absolute;*/
			/*top: 50%;*/
    	}
		.menu{
			margin-top: 25px;
			float: left;
			position: relative;
			text-align: center;
			height: 625px;
			width: 25%;
		}
		.buttons{
			position: absolute;
			bottom: 0;
		}
		.leaderboard{
			width: 100%;
			height: 470px;
			background: black;
			color: white;
		}
		#resume_btn{
			float: left;
		}
		.button {
			position: absolute;
			bottom: 0px;
			left: 25px;
		  border-radius: 20%;
		  position: relative;
		  display: block;
		  margin-bottom: 0.5em;
		  padding: 0.8em 1.7em;
		  text-decoration: none;
		  text-transform: uppercase;
		  font-size: 1.3em;
		  font-weight: lighter;
		  overflow: hidden;
		  backface-visibility: hidden;
		  background-color: #000;
		  color: #fff;
		}
		.material-wave {
		  position: absolute;
		  width: 20px;
		  height: 20px;
		  margin-top: -10px;
		  margin-left: -10px;
		  background-color: rgba(255, 255, 255, 0.3);
		  border-radius: 50%;
		  transform: scale(0);
		  transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s 0.4s;
		  pointer-events: none;
		  will-change: transform, opacity;
		}
		footer {
			text-align: center;
			color: white;
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 50px;
   		 background: #000;
    	 /*padding:50px 0 94px;*/
		}